spring:
  application:
    name: zentask

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      jakarta.persistence.jdbc.url: ${SPRING_DATASOURCE_URL}

zentask:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 86400000